.active-link {
  color: #6366f1;
  font-weight: 600;
  position: relative;
}

.active-link::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 2px;
  background-color: var(--color-primary);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.btn.active {
  color: var(--color-primary);
  opacity: 1;
}

.btn.active::after {
  transform: scaleX(1);
}

.font-tajawal {
  font-family: "Tajawal", sans-serif;
}

.font-cairo {
  font-family: "Cairo", sans-serif;
}

.font-alexandria {
  font-family: "Alexandria", sans-serif;
}

.color-btn {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid #cbd5e1;
}

.w-80 {
  width: 300px;
}

.settings-toggle-1 {
  position: fixed;
  right: 0;
  top: 50%;
}

.settings-toggle-2 {
  position: fixed;
  right: 300px;
  top: 50%;
}

/* اكتف النقط  */

.carousel-indicator.active {
  background-color: var(--color-primary);
  transform: scale(1.6);
}

.accentTheme {
  background-color: #4f46e5;
}

.orangeTeme {
  background-color: #ed680f;
}

.orangeTeme2 {
  background-color: #eda30f;
}

.yellowTeme {
  background-color: #eded0f;
}

.greenTheme {
  background-color: #0fed38;
}

.blueTheme {
  background-color: #0fa3ed;
}
